@import '../../src/concept.scss';


  .header-example-container {
    box-shadow:0px 0px 50px #333;
  }
  .header-example {
    height:550px;
    border-top-left-radius:$base-border-radius;
    border-top-right-radius:$base-border-radius;

  }
  .header-example-body {
    height: 20px;
    background:#111;
  }
  .page-header-text {
    width:50%;
    max-width:600px;
    min-width:300px;
    margin:10px auto;
  }
  .section-header {
    background-color:rgba(0,0,0,0.8);
    text-align:center;
    padding:30px 20%;
  }
  .x-large .dark-box,
  .x-large .darker-box {
    height:800px;
  }
  .large .dark-box,
  .large .darker-box {
    height:500px;
  }
  .small .dark-box,
  .small .darker-box {
    height:250px;
  }
  .dark-box {
    background-color:rgba(0,0,0,0.3);
    padding:30px;
    height:400px;
  }
  .darker-box {
    background-color:rgba(0,0,0,0.5);
    padding:30px;
    height:400px;
  }
  #header-section {
    padding:40px 0px 60px;
    background-color:rgba(0,0,0,0.6);
  }
  #icon-list {
    text-align:center;
    background-color:rgba(0,0,0,0.3);
    padding:40px 50px;
    li {
      margin-bottom:30px;
      padding:10px;
      height:100px;
      span {
        font-size:2rem;
      }
    }
  }

.grid {
  margin:30px auto;
}
.grid [class*="c-col-"] {
  border:1px solid $white;
  height:120px;
}
.footer {
  background-color:rgba(0,0,0,0.6);
  padding:30px;
}
.alpha-announcement {
  background-color:rgba(255,255,255,0.1);
}
footer .c-hr-mini {
  margin:15px auto;
}

.download-card {
  width:30%;
  position:fixed;
  margin:20% auto 0px;
  z-index:1000;
  background-color:rgba(120,43,184,1);
  .c-card-content {
    padding:40px 20px;
  }
  code {
    font-size:18px;
    background-color:darken($purple,15%);
    padding:8px 15px;
    margin-bottom:5px;
    display:inline-block;
  }
}
.darken {
  background-color:rgba(0,0,0,0.6);
}
.no-show {
  display:none;
}
.show {
  display:block;
}
