////////////////////////////////////////////////////////////
///                                                      ///
///   Custom Variables                                   ///
///                                                      ///
////////////////////////////////////////////////////////////

    $table-font-color: #ccc;
    $paragraph-font-color: $white;
    $header-font-color: $white;
    $paragraph-font: 'Lato';
    $header-font: 'Cabin';
    $paragraph-font-size: 1.6rem;
    $horizontal-nav-item-border-bottom: 2px solid transparent;
    $horizontal-nav-item-border-bottom-hover: 2px solid $blue;
    
    $background-image-1: url('http://www.planwallpaper.com/static/images/Desktop-HD-Wallpaper-Free-Download-1.jpg');
    $background-image-2: url('http://www.planwallpaper.com/static/images/8040518319d1447bbf20cfb44047d0d43.jpg');
    $background-image-3: url('http://res2.windows.microsoft.com/resbox/en/windows/main/c720f5ed-dd7b-4da0-98ee-40e410b8f45b_5.jpg');