.c-feature-page {
  .c-block {
    background-color:rgba(0,0,0,0.5);
    height:100%;
    padding:30px;
    p {
      color:#aaa;
      font-weight:200;
    }
  }
  #header-block > div { height: 500px; }
  #paragraph-block > div { height: 500px; }
  #grid-block > div { height: 400px; }
  #button-block > div { height:1500px; }
  #input-block > div { height:2500px; }
  #table-block > div { height:900px; }

  .c-dark {
    background-color:rgba(0,0,0,0.6);
  }
  .c-super-dark {
    background-color:rgba(0,0,0,0.7);
  }


}
.grid {
  margin:30px auto;
}
.grid [class*="c-col-"] {
  border:1px solid $white;
  height:40px;
}
