.c-feature-page {
  .c-block {
    background-color:rgba(0,0,0,0.5);
    height:100%;
    padding:30px;
    p {
      color:#aaa;
      font-weight:200;
    }
  }

  // CSS Page
  #header-block > div { height: 350px; }
  #paragraph-block > div { height: 350px; }
  #grid-block > div { height: 400px; }
  #button-block > div { height:1600px; }
  #input-block > div { height:2500px; }
  #table-block > div { height:900px; }
  #misc-block > div { height:800px;}

  // Components Page
  #header-div-block > div { height: 800px; }
  #header-description-block > div { height: 800px; }
  #miscellaneous-block > div { height: 800px; }


  .header-example {
    height:550px;
    border-top-left-radius:$border-radius;
    border-top-right-radius:$border-radius
  }
  .header-example-body {
    height: 100px;

    background:#aaa;
  }

  .c-dark {
    background-color:rgba(0,0,0,0.6);
  }
  .c-super-dark {
    background-color:rgba(0,0,0,0.7);
  }


}
.grid {
  margin:30px auto;
}
.grid [class*="c-col-"] {
  border:1px solid $white;
  height:40px;
}
