/**** CSS ****/

$absolute: absolute;
$fixed: fixed;
$relative: relative;
$transparent: transparent;

// Site-wide Defaults
$border-radius:4px;

// Defines the height of a default header div
$header-full-height: 100vh;
$header-primary-height: 500px;
$header-secondary-height:250px;
$header-primary-background-color: none;
$header-secondary-background-color: none;
$header-full-background-color: none;



// Horizontal Rule
$hr-color: $white;
$hr-margin: 30px;
$hr-height: 1px;
$hr-mini-width:50px;
$hr-custom-width: 70%;

// Backgrounds
$default-background-color: $true-white
$background-image-1: none;
$background-image-2: none;
$background-image-3: none;
$background-image-4: none;
$background-image-5: none;
$background-image-6: none;
$background-image-7: none;
$background-image-8: none;
$background-image-9: none;
$background-image-10: none;
$background-image-11: none;
$background-image-12: none;
$background-image-13: none;
$background-image-14: none;
$background-image-15: none;
$background-image-16: none;
$background-image-17: none;
$background-image-18: none;
$background-image-19: none;
$background-image-20: none;


// Typography
$paragraph-font: 'Montserrat';
$header-font: 'Lato';
$button-font: 'Montserrat';
$default-font-color: $white;
$default-header-font-weight: 100;
$default-paragraph-font-weight: 200;
$line-height:1.428571429;
  // Titles
$title-font-size: 7.0rem;
$title-color: $white;
$title-margin-bottom: 10px;
$subtitle-font-size: 2.5rem;
$subtitle-color: #bbb;

// If using a fixed width, defines how wide the page should be
$container-fixed-max-width: 960px;

// Choose the number of columns for the grid
$number-of-columns: 12;

// Buttons
$primary-button-background-color: $purpley;
$success-button-background-color: $success-green;
$danger-button-background-color: $warning-red;
$neutral-button-background-color: $neutral-blue;
$clicky-button-background-color: $purpley;
$disabled-button-background-color: #999;
$button-hover-darken-percentage: 15%;
$button-fixed-width: 280px;


// Forms
$form-default-width: 400px; // best for mobile
$input-border-radius: 4px;
$form-default-padding: 12px;

$line-form-focus-text-color: $white;


// Tables
$table-default-color: #ccc;
$table-pattern-background-color:#ddd;

// Links
$link-color: #1eaedb;
$link-hover: #0fa0ce;
$concept-link-color:#d45500;


/**** COMPONENTS ****/

// Vertical Nav
$vertical-nav-width: 200px;
$vertical-nav-width-mobile:250px;
$vertical-nav-width-closed: 0px;
$vertical-nav-background-color: $black;
$vertical-nav-text-color: $white;
$vertical-nav-item-hover-background:$true-black;
$vertical-nav-text-color-hover: $white;

// Horizontal Nav
/* Choose 'relative' for nav only at the top, 'absolute' to fix it to top of page */
$horizontal-nav-positioning: $absolute;
$horizontal-nav-background-color: rgba(0,0,0,0.9);
$horizontal-nav-height: 50px;
$horizontal-nav-vert-align: 25%;
$horizontal-nav-spacing: 0px 20px;
$horizontal-nav-item-hover-background: rgba(150,150,150,0.5);

// Labels
$label-1-background-color:#006c9e;
$label-2-background-color:$green;
$label-3-background-color:$orange;
$label-4-background-color:$warning-red;
$label-5-background-color:$fb-blue;
$label-6-background-color:$tw-blue;
$label-7-background-color:$tw-blue;
$label-8-background-color:$tw-blue;
$label-9-background-color:$tw-blue;
$label-10-background-color:$tw-blue;
