/* COLORS */



// Base colors
$white: #eeeeee;
$true-white: #ffffff;
$black: #222222;
$true-black: #000000;


// Cool colors
$orange: #ed8e3b;
$green: #3bad29;
$purpley: #782bb8;

// Buttons
$bright-orange: #ed7737;
$success-green: #2c9430;
$warning-red: #9e332f;
$neutral-blue: #316ea3;































// Social colors
$fb-blue: #3b5998;
$tw-blue: #55acee;
$google-red: #dd4b39;
$li-blue: #007bb6; // Linked In
$youtube-red: #bb0000;
$vine-green: #00bf8f;
