////////////////////////////////////////////////////////////
///                                                      ///
///   Social Media Colors                                ///
///                                                      ///
////////////////////////////////////////////////////////////

		$facebook-blue: #3b5998;
		$twitter-blue: #00aced;
		$google-plus-red: #dd4b39;
		$youtube-red: #bb0000;
		$linkedin-blue: #007bb5;
		$instagram-blue: #125688;
		$pinterest-red: #cb2027;
		$vine-green: #00bf8f;
		$snapchat-yellow: #fffc00;
		$dropbox-blue: #007ee5;
		$tumblr-turquoise: #32506d;

////////////////////////////////////////////////////////////
///                                                      ///
///   Base Colors                                        ///
///                                                      ///
////////////////////////////////////////////////////////////

		$white: #eeeeee;
		$true-white: #ffffff;
		$black: #222222;
		$true-black: #000000;
		$purple: #782bb8;
		$blue: #0065a8;
		$green: #3bad29;
		$yellow: #cfb719;
		$orange: #bd5800;
		$red: #d6201a;
		$light-gray: #ccc;






























// Social colors
$fb-blue: #3b5998;
$tw-blue: #55acee;
$google-red: #dd4b39;
$li-blue: #007bb6; // Linked In
$youtube-red: #bb0000;
$vine-green: #00bf8f;
