
$absolute: absolute;
$fixed: fixed;
$relative: relative;
$transparent: transparent;

// Site-wide Defaults
$default-border-radius:4px;

// Defines the height of a default header div
$header-height: 100%;

// Horizontal Rule
$hr-color: $white;
$hr-margin: 30px;
$hr-height: 1px;
$hr-custom-width: 70%;

// Background Type: choose from 'image' or 'color'
$background-type: 'image';
$full-background-color: $white;
$full-background-image: url('../images/milky-way.jpg');
$full-background-image-2: url('../images/milky-way.jpg');
$full-background-image-3: url('../images/railroad.jpg');
$full-background-image-4: none;
$full-background-image-5: none;
$full-background-image-6: none;
$full-background-image-7: none;
$full-background-image-8: none;
$full-background-image-9: none;
$full-background-image-10: none;


// Typography
$paragraph-font: 'Helvetica Neue';
$header-font: 'Helvetica Neue';
$button-font: 'Merriweather Sans';
$default-font-color: $white;
$default-font-weight: 100;

// If using a fixed width, defines how wide the page should be
$container-fixed-max-width: 960px;

// Choose the number of columns for the grid
$number-of-columns: 12;

// Buttons
$primary-button-background-color: $purpley;
$success-button-background-color: $success-green;
$danger-button-background-color: $warning-red;
$neutral-button-background-color: $neutral-blue;
$clicky-button-background-color: $purpley;
$disabled-button-background-color: #999;
$button-hover-darken-percentage: 15%;
$button-fixed-width: 280px;


// Forms
$form-default-width: 400px; // best for mobile
$input-border-radius: 4px;
$form-default-padding: 12px;

$line-form-focus-text-color: $white;


// Tables
$table-default-color: #ccc;




// Vertical Nav
$vertical-nav-width: 200px;
$vertical-nav-width-mobile:250px;
$vertical-nav-width-closed: 0px;
$vertical-nav-background-color: $black;
$vertical-nav-text-color: $white;
$vertical-nav-item-hover-background:$true-black;

// Horizontal Nav
/* Choose 'relative' for nav only at the top, 'absolute' to fix it to top of page */
$horizontal-nav-positioning: $absolute;
$horizontal-nav-background-color: $transparent;
$horizontal-nav-height: 50px;
$horizontal-nav-vert-align: 25%;
$horizontal-nav-spacing: 0px 20px;
$horizontal-nav-item-hover-background: $transparent;
