
// Defines the height of a default header div
$header-height: 600px;

$background: 'image';

$primary-font: 'Merriweather Sans';
$head-font: 'Helvetica Neue';

// If using a fixed width, defines how wide the page should be
$container-fixed-max-width: 960px;

// Choose the number of columns for the grid
$number-of-columns: 30;

$full-background-image: url('../images/dunes-blur.jpg');
