/* Header
__________________________________________________ */
.c-header-full {
  height:$header-full-height;
  background-color:$header-full-background-color;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}
.c-header-primary {
  height:$header-primary-height;
  background-color:$header-primary-background-color;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}
.c-header-secondary {
  height:$header-secondary-height;
  background-color:$header-secondary-background-color;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}
.c-header-image-bg-1 {
  background-image:$header-background-image-1;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-2 {
  background-image:$header-background-image-2;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-3 {
  background-image:$header-background-image-3;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-4 {
  background-image:$header-background-image-4;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-5 {
  background-image:$header-background-image-5;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-6 {
  background-image:$header-background-image-6;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-7 {
  background-image:$header-background-image-7;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-8 {
  background-image:$header-background-image-8;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-9 {
  background-image:$header-background-image-9;
  box-shadow: $default-header-shadow;
}
.c-header-image-bg-10 {
  background-image:$header-background-image-10;
  box-shadow: $default-header-shadow;
}



// Titles
.c-title {
  font-size:$title-font-size;
  color:$title-color;
  margin-bottom:$title-margin-bottom;
}
.c-subtitle {
  font-size:$subtitle-font-size;
  color:$subtitle-color;
}
