.c-horizontal-nav {
  position:$horizontal-nav-positioning;
  top:0px;
  width:100%;
  height:$horizontal-nav-height;
  background-color:$horizontal-nav-background-color;
  z-index:100;
}
.c-horizontal-nav ul {
  height:$horizontal-nav-height;
}
.c-horizontal-nav li {
  float:left;
  display:table;
  height:$horizontal-nav-height;
  a:not(.c-btn) {
    display:table-cell;
    vertical-align:middle;
    height:100%;
    padding:$horizontal-nav-spacing;
    &:hover {
      background-color:$horizontal-nav-item-hover-background;
    }
  }
}
.c-horizontal-nav li.c-right {
  float:right;
}
.c-horizontal-nav div.c-button-in-nav {
  display:table-cell;
  vertical-align:middle;
  margin:0px;
  padding:8px;
  .c-btn {
    margin:0px;
  }
}
