.c-label-1 {
  background-color:$label-1-background-color;
  border-radius:$default-border-radius;
  color:$white;
  font-weight:400;
  line-height:$line-height;
  padding:0px 6px;
  margin:0;
  display:inline-block;
}
.c-label-2 {
  background-color:$label-2-background-color;
  border-radius:$default-border-radius;
  color:$white;
  font-weight:400;
  line-height:$line-height;
  padding:0px 6px;
  margin:0;
  display:inline-block;
}
