.c-vertical-nav {
  background-color:$vertical-nav-background-color;
  color:$vertical-nav-text-color;
  flex:0 0 $vertical-nav-width;
  overflow-y:auto;
  transition:0.2s linear;
  li {
    padding:0px;
    margin:0px;
    a {
      display:block;
      margin:10px auto;
      padding:15px 0px 15px 40px;
      color:$vertical-nav-text-color;
      &:hover {
        background-color:$vertical-nav-item-hover-background;
        color:$vertical-nav-text-color-hover;
        cursor:pointer;
      }
    }
  }
}
.c-vertical-nav.c-center {
  li {
    a {
      text-align:center;
      padding:15px 0px;
    }
  }
}
.c-vertical-nav-closed {
  flex:0 0 $vertical-nav-width-closed;
  transition:0.2s linear;
  display:none;
}

@media (max-width:768px) {
  .c-vertical-nav {
    display:block;
    flex:none;
    position:absolute;
    width:$vertical-nav-width-mobile;
    z-index:100;
  }
  .c-vertical-nav-closed {
    width:0px;
  }
}
