<header class="bg-image ht-100">
  <div class="v-center center">
    <h1>Components</h1>
    <p class="page-header-text">Concept provides several reusable, customizable components that you can plug and play in your website or application.</p>
  </div>
</header>

<!-- Header & Navigation -->
<div class="row">
  <div class="col-12 section-header">
    <h2>Header & Navigation</h2>
    <p>Create beautiful page headers and navigation with ease with Concept's built in classes.</p>
  </div>
</div>

<div class="row">
  <div class="col-12 section" id="header-section">
    <div clas="row ">
      <div class="col-10 offset-1 rel">
        <div class="header-example-container">
          <div class="h0-nav">
            <ul>
              <li><a><span class="oi menu-toggle" data-glyph="menu"></span></a></li>
              <li class="bold"><a href="">Your Company</a></li>
              <li><a href="">About</a></li>
              <li><a href="">More Stuff</a></li>
              <li class="right"><a href="">Sign in</a></li>
            </ul>
          </div>
          <header class="header-primary header-image-bg-1 header-example">
            <div class="v-center center">
              <h1 class="title">This is a title</h1>
              <h3 class="subtitle">Here is a subtitle.</h3>
            </div>
          </header>
          <div class="row">
            <div class="col-12 header-example-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header & Nav Examples -->
<div class="row section x-large">
  <div class="col-6 darker-box">
    <div class="left-aligned-content">
      <h4>Header</h4>
      <p>Add a header to the top of your page with <span class="label label-1">.header</span>. You can easily change the height of the header with <span class="label label-2">$header-height</span>.</p>
      <br><br><br><br>
      <h4>Types of Headers</h4>
      <p>Add <span class="label label-1">.header-primary</span> to give your page a 500px header. This is the default size. Use <span class="label label-1">.header-secondary</span> for secondary pages, which has a default height of 250px. Concept also comes with full-height headers, which consume the full window height. For this, add <span class="label label-1">.header-full</span>. This site uses full-height headers.</p>
      <br><br><br><br>
      <h4>Background Images</h4>
      <p>You can give your headers a background-image with <span class="label label-1">.header-bg-image-1</span> and by editing the <span class="label label-2">$header-background-image-1</span> variable. Images are automatically centered and will fill the containing space for all screen sizes.</p>
    </div>
  </div>

  <div class="col-6 dark-box">
    <div class="left-aligned-content">
      <h4>Horizontal Navigation</h4>
      <p><span class="label label-1">.horizontal-nav</span> places a horizontal navbar at the top of its containing element. Simply add a list inside this nav and populate with navigation links.</p>
      <br><br><br><br>
      <h4>Vertical Navigation</h4>
      <p>Use <span class="label label-1">.vertical-nav</span> for a vertical sidebar. It is best placed at the same level as your <span class="label label-1">.container</span> section. You can put the sidebar on the left or right.</p>
    </div>
  </div>
</div>

<!-- Cards -->
<div class="row">
  <div class="col-12 section-header">
    <h2>Cards</h2>
    <p>Cards are currently under construction.</p>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-4 offset-4 card">
      <h3>Card Header</h3>
      <div class="row center card-content">
          <br><br><br><br><p>Card Body</p><br><br><br><br>
      </div>
  </div>
</div>

<!-- Miscellaneous -->
<div class="row">
  <div class="col-12 section-header">
    <h2>Miscellaneous</h2>
  </div>
</div>
<div class="row section small">
  <div class="col-6 section darker-box">
    <div class="left-aligned-content v-center">
      <h4>Labels</h4>
      <p>Labels are like small unclickable buttons. Insert them with <span class='label'>label</span>. You can use the same styles you would on buttons by adding classes such as <span class="label label-1">rounded</span>, <span class="label label-1">outline</span>, etc.</p>
    </div>
  </div>
  <div class="col-6 dark-box">
    <div class="v-center">
      <span class="label label-1">Label 1</span>
      <span class="label label-2">Label 2</span>
      <span class="label label-3">Label 3</span>
      <span class="label label-4">Label 4</span>
      <span class="label label-5">Label 5</span>
      <br>
      <span class="label outline">Outline Label</span>
      <span class="label rounded">Rounded Label</span>
      <span class="label rectangle">Rectangle Label</span>
    </div>
  </div>
</div>
<div class="row section small">
  <div class="col-6 darker-box">
    <div class="left-aligned-content v-center">
      <h4>Horizontal Rule</h4>
      <p>Add <span class="label label-1">.hr-full</span> for a horizontal rule that spans the full width of its containing element. Add <span class="label label-1">.hr-half</span> for one that is 50% of the width, centered. Use <span class="label label-1">.hr-mini</span> for a mini &lthr&gt, by default 50px.</p>
      </div>
  </div>
  <div class="col-6 dark-box">
    <div class="v-center">
      <hr class="hr-full">
      <hr class="hr-half">
      <hr class="hr-mini">
    </div>
  </div>
</div>
