<header class="bg-image ht-100 bg-1">
  <div class="v-center center">
    <h1>Concept</h1>
    <!-- <h4>A la carte CSS framework for designers.</h4> -->
    <h4>A modern, flexible CSS framework for designers and creators.</h4>
  </div>
</header>
<div class="row small">
  <div class="col-12 section-header alpha-announcement">
    <div class="center">
      <span class="label label-2">Alpha 0.1.5</span>
    </div>
    <h2>Welcome to Concept</h2>
    <p>Concept is still in alpha and not ready for production use. However, please feel free to look around and check stuff out, download the source and/or contribute! The goal of this framework is to combine the best parts of some of the most popular CSS frameworks, and learn a lot about each of them along the way. <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://foundation.zurb.com/">Foundation</a>, <a href="http://semantiui.com/">Semantic UI</a>, and <a href="http://getskeleton.com/">Skeleton</a> provide the inspiration for this framework. Each of these frameworks has many strengths, but also many shortcomings and annoyances.  Concept will be some sort of hybrid of these, with a modern, sleek design. It's built by Jared for his web projects, but you can use it too, I guess =)</p>
    <a class="btn default flat outline" href="https://github.com/jhanstra/concept">View Source on Github</a>
  </div>
</div>
<div class="row">
  <div class="col-12 section-header">
    <h2>Why use Concept?</h2>
    <p>Concept brings together some of the best features of other CSS frameworks and introduces a few tricks of its own. It's not too big, not too small. Customizable, but not too customizable. Powerful, yet easy to use.</p>
  </div>
</div>

<div class="row small">
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-6 left-aligned-content dark-box">
        <h4>Next-gen</h4>
        <p>Concept uses cutting-edge CSS3 features and follows modern design trends and techniques. It is designed for power users and doesn't support older browsers (&ltIE 9).</p>
      </div>
      <div class="col-6 left-aligned-content dark-box">
        <h4>Beautiful</h4>
        <p>Every pixel in Concept's classes has been meticulously designed. No matter what kind of web thing you want to make, Concept will make it look beautiful.</p>
      </div>
      <div class="col-6 left-aligned-content dark-box">
        <h4>Modular</h4>
        <p>Concept allows you to build custom-styled elements by combining CSS classes. Every class does only what it needs to, and no more. Need a small, rounded success button with lowercase letters that presses down on hover?</p>
        <a href="" class="btn sm rounded success clicky lowercase">No problem</a>
      </div>
      <div class="col-6 left-aligned-content dark-box">
        <h4>Flexible</h4>
        <p>Customization with Sass variables is not only possible, it's encouraged. Concept makes it easy to completely change the appearance of your website with just a handful of variables.</p>
      </div>
      <div class="col-6 left-aligned-content dark-box">
        <h4>Prefixed</h4>
        <p>Always know where your styles are coming from. Concept's classes are prefixed with  so you always know which styles are coming from the Concept framework and which are coming from elsewhere.</p>
      </div>
      <div class="col-6 left-aligned-content dark-box">
        <h4>33K</h4>
        <p>Concept currently measures in at only 33kb. It's not too big, and not too small. And you can easily customize it for an even smaller footprint, using only what you need.</p>
      </div>
    </div>
  </div>
</div>
