<div>
  <div class="c-row" ng-if="downloadLink">
    <div class="c-col-4 c-offset-4 c-card download-card">
      <h3 ng-click="toggleDownload()">Use Concept<span class="oi c-right" data-glyph="x"></span></h3>

      <div class="c-row c-center c-card-content">
        <p><code>bower install concept</code></p>
        <p>or</p>
        <a class="c-btn c-outline c-default c-flat" href="https://github.com/jhanstra/concept">Download Source on Github</a>
        <p>or</p>
        <a class="c-btn c-outline c-default c-flat" href="css/concept.css" download>Download concept.css</a>
      </div>
    </div>
  </div>
</div>
