<div>
  <div class="row" ng-if="downloadLink">
    <div class="col-4 offset-4 card download-card">
      <h3 ng-click="toggleDownload()">Use Concept<span class="oi right" data-glyph="x"></span></h3>

      <div class="row center card-content">
        <p><code>bower install concept</code></p>
        <p>or</p>
        <a class="btn outline default flat" href="https://github.com/jhanstra/concept">Download Source on Github</a>
        <p>or</p>
        <a class="btn outline default flat" href="css/concept.css" download>Download concept.css</a>
      </div>
    </div>
  </div>
</div>
