// Basic Button
button,
button:focus,
button:active {
  outline:none;
}
.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size:$button-font-size;
  line-height: $button-line-height;
  border-radius: 4px;
  -webkit-user-select: none;
  margin: 10px 0px;
  position: relative;
  border:0px solid transparent;
  padding:6px 12px;
  text-transform:uppercase;
  font-family:$button-font, Helvetica, Arial, sans-serif;
}
.btn:hover {
  text-decoration:none;
}



// Sizes
.btn.jumbo {
  font-size:2.4rem;
  padding:20px 70px;
  border-radius:8px;
}
.btn.xl {
  font-size:2.2rem;
  padding:10px 44px;
  border-radius:8px;
}
.btn.lg {
  font-size: 2.0rem;
  line-height: 1.33;
  border-radius: 6px;
  padding:10px 40px;
}
.btn.sm {
  padding:4px 12px;
  border-radius:3px;
  font-size:1.0rem;
}
.btn.xs {
  padding:2px 5px;
  border-radius:3px;
  font-size:0.85rem;
}

// Colors
.btn.white {
  background-color:$white;
  border:2px solid $white;
  color:$black;
  &:hover {
    background-color: darken($white, $hover-darken);
    border:2px solid darken($white, $hover-darken);
    transition:0.05s ease-in-out;
  }
}
.btn.green {
  background-color:$green;
  border:2px solid $green;
  color:$white;
  &:hover {
    border:2px solid darken($green, $hover-darken);
    background-color: darken($green, $hover-darken);
  }
}
.btn.blue {
  background-color:$blue;
  border:2px solid $blue;
  color:$white;
  &:hover {
    background-color: darken($blue, $hover-darken);
    border:2px solid darken($blue, $hover-darken);
  }
}
// Add more colors to match your brand





.btn.transparent-dark {
  background-color:rgba(0,0,0,0.1);
  color:$white;
  &:hover {
    background-color:rgba(0,0,0,0.3);
  }
}
.btn.transparent-light {
  background-color:rgba(255,255,255,0.1);
  color:$white;
  &:hover {
    background-color:rgba(255,255,255,0.2);
  }
}

// Styles
.btn.flat {
  box-shadow:0px 0px 0px transparent;
}
.btn.outline {
  background-color:transparent;
  &:hover {
    background-color:transparent;
  }
}
.btn.rounded {
  border-radius:1000px;
}
.btn.rect {
  border-radius:0px;
}
.btn.clicky {
  box-shadow:0px 2px 0px $black;
  color:$white;
  &:hover {
    box-shadow:0px 0px 0px transparent;
    transform: translateY(2px);
  }
}
.btn.text {
  background:transparent;
  border:0px solid transparent;
  &:hover {
    border:0px solid transparent;
  }
}

// Special Combinations
.c-default.c-outline {
  color:#ccc;
  border:1px solid #ccc;
  &:hover {
    border:1px solid $true-white;
    color:$true-white;
  }
}

// Icons in Buttons
.btn.icon {
  padding:0px;
  border:0px;
  i {
    padding:4px 10px;
    display:inline-block;
    color:$white;
    font-size:20px;
    border-top-left-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
  }
  p {
    padding:4px 10px;
    margin:0px;
    display: inline-block;
    font-family:$button-font;
    color:$white;
  }
  &:hover {
    border:0px;
  }
}
.btn.icon.green {
  i { background-color:darken($green, $hover-darken); }
  p { background-color:$green; }
  &:hover {
    i { background-color:darken($green, $hover-double-darken); }
    p { background-color:darken($green, $hover-darken); }
  }
}
.btn.icon.dark {
  background-color:#333;
  i { background-color:darken(#333, $hover-darken); }
  p { background-color:#333; }
  &:hover {
    i { background-color:darken(#333, $hover-double-darken); }
    p { background-color:darken(#333, $hover-darken); }
  }
}
.btn.icon.light {
  background-color:#ccc;
  i { background-color:darken(#ccc, $hover-darken); color:#222; }
  p { background-color:#ccc; color:#222; }
  &:hover {
    i { background-color:darken(#ccc, $hover-double-darken); }
    p { background-color:darken(#ccc, $hover-darken); }
  }
}

// Mobile Sizes
@media(max-width:550px) {
  .btn.jumbo {
    font-size:1.4rem;
    padding:20px 70px;
    border-radius:8px;
  }
  .btn.lg {
    font-size: 1.4rem;
    line-height: 1.33;
    border-radius: 6px;
    padding:8px 30px;
  }
  .btn.sm {
    padding:4px 12px;
    border-radius:3px;
    font-size:1.0rem;
  }
  .btn.xs {
    padding:2px 5px;
    border-radius:3px;
    font-size:0.85rem;
  }
}
