.label {
  font-size:$label-font-size;
  font-weight:$label-font-weight;
  line-height:$paragraph-line-height;
  color:$label-font-color;
  padding:$label-padding;
  margin:$label-margin;
  border-radius:$label-border-radius;
  display:inline-block;
  &:hover {
    cursor:default;
  }
}
p .label {
  margin:0px 3px;
}
.label-1 {
  background-color:$label-1-background-color;
  border:1px solid $label-1-background-color;
}
.label-2 {
  background-color:$label-2-background-color;
  border:1px solid $label-2-background-color;
}
.label-3 {
  background-color:$label-3-background-color;
  border:1px solid $label-3-background-color;
}
.label-4 {
  background-color:$label-4-background-color;
  border:1px solid $label-4-background-color;
}
.label-5 {
  background-color:$label-5-background-color;
  border:1px solid $label-5-background-color;
}
.label-6 {
  background-color:$label-6-background-color;
  border:1px solid $label-6-background-color;
}
.label-7 {
  background-color:$label-7-background-color;
  border:1px solid $label-7-background-color;
}
.label-8 {
  background-color:$label-8-background-color;
  border:1px solid $label-8-background-color;
}
.label-9 {
  background-color:$label-9-background-color;
  border:1px solid $label-9-background-color;
}
.label-10 {
  background-color:$label-10-background-color;
  border:1px solid $label-10-background-color;
}
.label.outline {
  background-color:transparent;
}
.label.rounded {
  border-radius:1000px;
}
.label.rectangle {
  border-radius:0px;
}
