<header class="c-header-full">
  <div class="c-v-center c-center">
    <h1>Components</h1>
    <p class="page-header-text">Concept provides several reusable, customizable components that you can plug and play in your website or application.</p>
  </div>
</header>

<!-- Header & Navigation -->
<div class="c-row">
  <div class="c-col-12 section-header">
    <h2>Header & Navigation</h2>
    <p>Create beautiful page headers and navigation with ease with Concept's built in classes.</p>
  </div>
</div>

<div class="c-row">
  <div class="c-col-12 section" id="header-section">
    <div clas="c-row ">
      <div class="c-col-10 c-offset-1 c-rel">
        <div class="header-example-container">
          <div class="c-horizontal-nav">
            <ul class="c-list">
              <li class="c-show-sidebar"><a><span class="oi c-menu-toggle" data-glyph="menu"></span></a></li>
              <li class="c-bold"><a href="">Your Company</a></li>
              <li><a href="">About</a></li>
              <li><a href="">More Stuff</a></li>
              <li class="c-right"><a href="">Sign in</a></li>
            </ul>
          </div>
          <header class="c-header-primary c-header-image-bg-1 header-example">
            <div class="c-v-center c-center">
              <h1 class="c-title">This is a title</h1>
              <h3 class="c-subtitle">Here is a subtitle.</h3>
            </div>
          </header>
          <div class="c-row">
            <div class="c-col-12 header-example-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header & Nav Examples -->
<div class="c-row section x-large">
  <div class="c-col-6 darker-box">
    <div class="c-left-aligned-content">
      <h4>Header</h4>
      <p>Add a header to the top of your page with <span class="c-label">.c-header</span>. You can easily change the height of the header with <span class="c-label c-label-2">$header-height</span>.</p>
      <br><br><br><br>
      <h4>Types of Headers</h4>
      <p>Add <span class="c-label">.c-header-primary</span> to give your page a 500px header. This is the default size. Use <span class="c-label">.c-header-secondary</span> for secondary pages, which has a default height of 250px. Concept also comes with full-height headers, which consume the full window height. For this, add <span class="c-label">.c-header-full</span>. This site uses full-height headers.</p>
      <br><br><br><br>
      <h4>Background Images</h4>
      <p>You can give your headers a background-image with <span class="c-label">.c-header-bg-image-1</span> and by editing the <span class="c-label c-label-2">$header-background-image-1</span> variable. Images are automatically centered and will fill the containing space for all screen sizes.</p>
    </div>
  </div>

  <div class="c-col-6 dark-box">
    <div class="c-left-aligned-content">
      <h4>Horizontal Navigation</h4>
      <p><span class="c-label">.c-horizontal-nav</span> places a horizontal navbar at the top of its containing element. Simply add a list inside this nav and populate with navigation links.</p>
      <br><br><br><br>
      <h4>Vertical Navigation</h4>
      <p>Use <span class="c-label">.c-vertical-nav</span> for a vertical sidebar. It is best placed at the same level as your <span class="c-label">.c-container</span> section. You can put the sidebar on the left or right.</p>
    </div>
  </div>
</div>

<!-- Cards -->
<div class="c-row">
  <div class="c-col-12 section-header">
    <h2>Cards</h2>
  </div>
</div>
<div class="c-row">
  <div class="c-col-4 c-offset-4 c-card">
      <h3>Use Concept</h3>
      <p>Install with Bower</p>
      <p><code>bower install concept</code></p>
  </div>
</div>

<!-- Miscellaneous -->
<div class="c-row">
  <div class="c-col-12 section-header">
    <h2>Miscellaneous</h2>
  </div>
</div>
<div class="c-row section small">
  <div class="c-col-6 section darker-box">
    <div class="c-left-aligned-content c-v-center">
      <h4>Labels</h4>
      <p>Labels are like small unclickable buttons. Insert them with <span class='c-label'>c-label</span>. You can use the same styles you would on buttons by adding classes such as <span class="c-label">c-rounded</span>, <span class="c-label">c-outline</span>, etc.</p>
    </div>
  </div>
  <div class="c-col-6 dark-box">
    <div class="c-v-center">
      <span class="c-label">Label 1</span>
      <span class="c-label c-label-2">Label 2</span>
      <span class="c-label c-label-3">Label 3</span>
      <span class="c-label c-label-4">Label 4</span>
      <span class="c-label c-label-5">Label 5</span>
      <br>
      <span class="c-label c-outline">Outline Label</span>
      <span class="c-label c-rounded">Rounded Label</span>
      <span class="c-label c-rectangle">Rectangle Label</span>
    </div>
  </div>
</div>
<div class="c-row section small">
  <div class="c-col-6 darker-box">
    <div class="c-left-aligned-content c-v-center">
      <h4>Horizontal Rule</h4>
      <p>Add <span class="c-label">.c-hr-full</span> for a horizontal rule that spans the full width of its containing element. Add <span class="c-label">.c-hr-half</span> for one that is 50% of the width, centered. Use <span class="c-label">.c-hr-mini</span> for a mini &lthr&gt, by default 50px.</p>
      </div>
  </div>
  <div class="c-col-6 dark-box">
    <div class="c-v-center">
      <hr class="c-hr-full">
      <hr class="c-hr-half">
      <hr class="c-hr-mini">
    </div>
  </div>
</div>
