<div class="c-full-background-image c-fbi-3"></div>
<header>
  <div>
    <h1>Components</h1>
    <p>Concept provides dozens of components that you can plug and play in your website or application. Choose which components to include in the concept.scss file and add classes to your html to use the styles for each component.</p>
  </div>
</header>

<!-- Header -->
<div class="c-row c-center">
  <div class="c-col-6 c-block">
    <header class="header-background">
      <div>
        <h1>This is a header</h1>
        <h3>Here is a subtitle.</h3>
      </div>
    </header>
  </div>
  <div class="c-col-6 c-block c-dark">
    <div class="c-v-center">
      <h2>Header</h2>
      <p>Choose the height of your header with $header-height.</p>
      <xmp>
// Defines the height of a default header div
$header-height: 70%;

<header class="header-background">
<div>
<h1>This is a header</h1>
<h3>Here is a subtitle.</h3>
</div>
</header>
      </xmp>
    </div>
  </div>
</div>


<!-- Horizontal Rule -->
<div class="c-row c-center">
  <div class="c-col-6 c-block c-dark">
    <div class="c-v-center">
      <h2>Horizontal Rule</h2>
      <p>Choose from three styles:</p>
      <xmp>
        <div class="c-v-center">
          <hr class="c-hr-full">
          <hr class="c-hr-half">
          <hr class="c-hr-mini">
          <hr class="c-hr-custom">
        </div>
      </xmp>
    </div>
  </div>
  <div class="c-col-6 c-block">
    <div class="c-v-center">
      <hr class="c-hr-full">
      <hr class="c-hr-half">
      <hr class="c-hr-mini">
    </div>
  </div>
</div>
