<div class="c-full-background-image"></div>
<header>
  <div>
    <h1>Concept</h1>
    <!-- <h3>A la carte CSS framework for designers.</h3> -->
    <h3>A modern, flexible CSS framework for designers and builders.</h3>
  </div>
</header>
<div class="c-row c-center">
  <div class="c-col-12">
    <div class="c-feature">
      <h2>{{ test }}</h2>
      <p>Concept provides dozens of components that you can plug and play in your website or application. Choose which components to include in the concept.scss file and add classes to your html to use the styles for each component.</p>
    </div>
    <h3>Header</h3>
    <p>
  </div>


</div>
