<header class="header-full">
  <div class="v-center center">
    <h1>Icons</h1>
    <p class="page-header-text">Concept includes Open Iconic, a set of over 200 icons for interface elements. For more icons see Iconic's full set of fantastic svg and font icons.</p>
    <br>
    <a href="http://useiconic.com" class="btn default flat outline lg capital">Check out Iconic</a>
  </div>

</header>

<!-- Icons -->
<div class="row" ng-controller="IconsCtrl as iconsCtrl">
  <div class="col-12" id="icon-list">
    <ul>
      <li class="col-2" ng-repeat="icon in icons">
        <span class="oi" data-glyph="{{icon}}"></span>
        <p>{{icon}}</p>
      </li>


    </ul>
  </div>
</div>
