*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:active,
*:hover,
*:focus {
  outline:none;
}

body {
  background:$default-background-color;
}
button,
button:focus,
button:active {
  outline:none;
}





/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration:none;
  &:hover {
  }
}



