*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:active,
*:hover,
*:focus,
*:after,
*:before {
  outline:none;
  box-sizing:inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin:0px;
  padding:0px;
}

body {
  background:$default-background-color;
}
