.c-form {
  text-align:left;
  margin:0px auto;
  display:inline-block;
  width:$form-default-width;
  padding:0px;
  margin:0px;
  border-radius:0px;
  border:none;
  font-family:$button-font;
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    border:0px solid transparent;
  }

  .c-form-title {
    position:relative;
    top:-1px;
    display:block;
    font-weight:400;
    background-color:#222;
    color:$white;
    margin:-$form-default-padding -$form-default-padding 0px -$form-default-padding;
    padding:$form-default-padding;
    border-top-left-radius:$border-radius;
    border-top-right-radius:$border-radius;
    margin-bottom:10px;
    h1,h2,h3,h4,h5,h6 {
      font-size:1.6rem;
      font-weight:400;
    }
  }
}

// Full width Form
.c-form-full {
  width:100%;
}

// Default Form
.c-form-default {
  background-color:#ddd;
  padding:$form-default-padding;
  border-radius:$border-radius;
  label {
    display:block;
    color:#555;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width:100%;
    border-radius:$border-radius;
    border:1px solid #f3f3f3;
    background-color:#f3f3f3;
    padding:8px 6px;
    margin-bottom:5px;
    font-size:1.6rem;
    &:focus {
      background-color:#fff;
    }
  }

}

// Lines Form
.c-form-lines {
  background-color:transparent;
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width:100%;
    background-color:transparent;
    color:#ccc;
    border-bottom:1px solid #777;
    padding:8px 6px;
    margin-bottom:5px;
    font-size:1.6rem;
    &:focus {
      color:#ccc;
      border-bottom:1px solid $line-form-focus-text-color;
      &::-webkit-input-placeholder
       {
        color: $line-form-focus-text-color;
      }
      &::-moz-placeholder {
        color: $line-form-focus-text-color;
      }
      &:-ms-input-placeholder {
        color: $line-form-focus-text-color;
      }
    }
  }
}

// Transparent Background Form
.c-form-transparent {
  background-color:transparent;
  label {
    color:#777;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width:100%;
    border:0px solid transparent;
    background-color:rgba(255,255,255,0.2);
    color:$white;
    &:focus {
      background-color:rgba(255,255,255,0.3);
    }
    &::-webkit-input-placeholder
    {
      color: #ccc;
    }
    &::-moz-placeholder {
      color: darkent($white,15%);
    }
    &:-ms-input-placeholder {
      color: $white;
    }
  }
}


// Input Group
.c-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  input {
    width:100%;
  }
  .c-btn,
  input {
    height:45px;
  }

}



@media (max-width:549px) {
  .c-form {
    width:96%;
  }
}
