ul, ol {
  padding:0px;
  margin:0px;
}
ul {
  list-style-type:none;
}
ol {
  padding-left:22px;
  margin:0px;
}
ul.c-list-indented {
  padding-left:40px;
}
ol.c-list-indented {
  padding-left:40px;
}
ul.c-horizontal-list li {
  display:inline-block;
  padding:0px 15px;
}
