.c-table {
  width:100%;
  color:$table-default-color;
  text-align:left;
  th {
    font-weight:bold;
    padding:8px 6px;
  }
  td {
    padding:8px 6px;
    border-top:1px solid $table-default-color;
  }
}

.c-table-lg {
  td,th {
    padding:12px 10px;
  }
}
.c-table-sm {
  td,th {
    padding:4px 4px;
  }
}
.c-table-pattern {
  color:#333;
  border-radius:$default-border-radius;
  th {
    background-color:$table-pattern-background-color;
    border-bottom:1px solid darken($table-pattern-background-color,20%);
    padding:8px 12px;
  }
  tr:nth-child(odd) {
    background-color:$table-pattern-background-color;
  }
  tr:nth-child(even) {
    background-color:lighten($table-pattern-background-color, 10%);
  }
  td {
    border-top:0px solid transparent;
    padding:8px 12px;
  }
  th:first-child {
    border-top-left-radius:$default-border-radius;
  }
  th:last-child {
    border-top-right-radius:$default-border-radius;
  }
  tr:last-child {
    td:first-child {
      border-bottom-left-radius:$default-border-radius;
    }
    td:last-child {
      border-bottom-right-radius:$default-border-radius;
    }
  }
}
